{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>analysis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script type="text/javascript">
      // send Email
      function sendEmail() {
            Email.send({
              SecureToken : "bbd3d1bf-ced0-4e57-aa16-709c0e26bd55",
              To: 'dlsdud1757@naver.com',
              From: "kiy7833@gmail.com",
              Subject: "Sending Email From GoodTalker",
              Body: "<b> your Text </b> <br> {{text}} <br><br> <b> your Language Habits </b><br>어: {{ data.0 }}회  <br>음: {{ data.1 }}회  <br>그: {{ data.2 }}회",
            })
              .then(function (message) {
                alert("mail sent successfully")
              });
            
      }
    </script>
  
{% endblock %}

{% block content %}
    <div class="tit-analysis">
        <span>Your text</span>
        <span>Frequency</span>
      </div>
      <div class="contents-analysis">
          <div class="usertext">
              {{text}}
          </div>
          <div class="frequency">
              <canvas id="myChart"></canvas>
              
          </div>
      </div>
      <div class="btn-nextprev">
          <button class="prev" onclick="location.href='{% url 'topic:topic' %}'">Prev</button>
          <form method = "post">
            <input class="save" type = "button" value = "Send" onclick = "sendEmail()"/>
          </form> 
      </div>

    
    
    <script type="text/javascript">
        // chart
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['어', '음', '그'],
              datasets: [{
                label: '# of Value',
                data: {{data}},
                backgroundColor: [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(255, 206, 86, 0.5)',
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                  }]
                }
              }
        }); 
        
    </script>
{% endblock %}