{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>analysis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}
    <div class="tit-analysis">
        <span>Your text</span>
        <span>Frequency</span>
    </div>
    <div class="contents-analysis">
        <div class="usertext">
            {{text}}
        </div>
        <div class="frequency">
            <canvas id="myChart"></canvas>
            
        </div>
    </div>
    <div class="btn-nextprev">
        <button class="prev" onclick="location.href='{% url 'topic:topic' %}'">Prev</button>
        <button class="save" onclick="location.href='#'">Save</button>
    </div>

    <!-- <script src="{% static 'analysis/analysis.js' %}" ></script> -->

    <script type="text/javascript">
        // chart
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['어', '음', '그'],
              datasets: [{
                label: '# of Value',
                data: {{data}},
                backgroundColor: [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(255, 206, 86, 0.5)',
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                  }]
                }
              }
        }); 
    </script>
{% endblock %}